@import '../../static/sass/variables';
@import '~buefy/src/scss/utils/variables';
@import '~buefy/src/scss/components/tabs';

.custom-tabs-wrapper {



  input {
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }


  .b-tabs {
    margin: 0 auto 0 auto;

    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
    }

    .tabs {
      margin-top: -10px;

      @media screen and (max-width: 1089px) {
        margin-bottom: -20px;
      }


      ul {
        width: auto;
        border-bottom-color: $top-title;
        margin-bottom: 15px;
      }

      a {
        padding-top: 0;

        @media screen and (max-width: 768px) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      .is-active {
        a {
          transition: border-bottom-color .5s ease;
          color: $link-hover;
          border-bottom-color: $link-hover;
        }
      }

      li {
        border-radius: 5px;
        margin-right: 10px;
        background-color: $top-title;

        @media screen and (max-width: 768px) {
          margin-right: 0;
        }


        a {
          transition: border-bottom-color .5s ease;
          color: white;
          &:hover {
            transition: border-bottom-color .5s ease;
            border-bottom-color: $link-hover;
          }
          border-bottom-color: $top-title;
        }

      }
    }
  }

  .tab-item {
    padding-top: 0px;
    padding-bottom: 2000px;
  }
}


