// Link underline
.tr,
.tr:visited,
.tr:hover,
.tr:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
}

.tr:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  height: 1px;
  width: 0;
  background: $link-hover;
}

.tr:after {
  bottom: -0.25em;
  left: 0;
}

.tr:hover:before,
.tr:hover:after {
  width: 100%;
}



.shadow {
  transition: box-shadow .5s ease;
  &:hover {
    transition: box-shadow .5s ease;
    box-shadow: 10px 10px 29px -7px rgba(0, 0, 0, 0.75);
  }
}


.editLink {
  li {
    margin-bottom: 10px;
  }
  a {
    font-weight: bold;
    font-size: 22px;
    color: white;
  }

  .selected {
    color: $is-info;
    }
}

.highlighted {
  transition: background-color .5s ease;
  background-color: $is-info;
}

