@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'variables';
@import 'effects';

.container {
  //width: 948px;
  max-width: 948px;
}

.debug {
  border: 1px solid black;
}

a {
  transition: color .2s ease;
  color: $link;

  &:not(.no-tr) {
    @extend .tr;
  }

  &:hover {
    transition: color .2s ease;
    color: $link-hover;
  }
}

p {
  color: $paragraph;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $header;
}

._btn {
  transition: 0.2s color ease-out, 0.3s background-color ease-out;
  border-radius: 0;
  border-color: $accent;
  color: $accent;
  background-color: transparent;

  &:hover {
    transition: 0.2s color ease-in, 0.3s background-color ease-out;
    color: white;
    background-color: $accent;
  }

  &:focus {
    box-shadow: none;
  }
}

input {
}




