@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'variables';
@import 'effects';

.container {
  //width: 948px;
  max-width: 948px;
}

.debug {
  border: 1px solid black;
}

a {
  transition: color .2s ease;
  color: $link;

  &:not(.no-tr) {
    @extend .tr;
  }

  &:hover {
    transition: color .2s ease;
    color: $link-hover;
  }
}

p {
  color: $paragraph;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $header;
}



