// Perso
$top-title: #3D5B95;
$top-text: #193F6E;
$ribbon-action: #F23839;
$ribbon-action-text: #FFFFFF;
$ribbon: #72A5D3;
$ribbon-text: #FFFFFF;
$links-nav: #000000;
$paragraph: #4D5763;
$header: #4D5763;
$emphasis: #4D5763;
$accent: #4D5763;
$link: #CB132D;
$link-hover: #6293bf;
$background: #FFFFFF;
$separator: #193F6E;
$nav: #FFFFFF;
$tab-hover-text: #72A5D3;
$tab-selected-text: #CB132D;
$tabs-text: #4D5763;
$tabs-frame: rgba(123, 136, 154, 0.5);
$tabs-content: #4D5763;
$contact-icons: #4D5763;
$footer-text: #FFFFFF;
$social-icons: #FFFFFF;
$btn: #4D5763;


$star-full: #e7711b;
$star-empty: #d1d1d1;



$is-primary: hsl(171, 100%, 41%);
$is-info: hsl(204, 86%, 53%);
//$is-success: hsl(141, 71%, 48%);
$is-success: #41B883;
$is-warning: hsl(48, 100%, 67%);
$is-danger: hsl(348, 100%, 61%);

