// Perso
$top-title: #3D5B95;
$top-text: #193F6E;
$ribbon-action: #F23839;
$ribbon-action-text: #FFFFFF;
$ribbon: #72A5D3;
$ribbon-text: #FFFFFF;
$links-nav: #000000;
$paragraph: #4D5763;
$header: #4D5763;
$emphasis: #4D5763;
$accent: #4D5763;
//$link: hsl(348, 73%, 55%);
//$link: hsl(208, 42%, 57%);

$link-hover: hsl(208, 42%, 57%);
$background: #FFFFFF;
$separator: #193F6E;
$nav: #FFFFFF;
$tab-hover-text: #72A5D3;
$tab-selected-text: #CB132D;
$tabs-text: #4D5763;
$tabs-frame: rgba(123, 136, 154, 0.5);
$tabs-content: #4D5763;
$contact-icons: #4D5763;
$footer-text: #FFFFFF;
$social-icons: #FFFFFF;
$btn: #4D5763;


$star-full: #e7711b;
$star-empty: #d1d1d1;



$is-primary: hsla(171, 100%, 41%, 0.37);
$is-info: hsla(204, 86%, 53%, 0.31);
$is-success: #45a875;
$is-warning: hsl(48, 100%, 67%);
$is-danger: hsl(348, 73%, 55%);

// SIZES



$article-width: 360px;
$article-height: 270px;

$edit-width: 190px;
$edit-height: 107px;


