@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'variables';
@import 'effects';
@import 'scrollBar';
@import 'dragDrop';


.container {
    max-width: 948px;
}

.debug {
    border: 1px solid black;
    z-index: 1000;
}

a {
    outline: 0;
    font-family: 'Open Sans', sans-serif;
    transition: color .2s ease;
    color: $link-normal;
    font-size: 18px;

    &:not(.no-tr) {
        @extend .tr;
    }

    &:hover {
        transition: color .2s ease;
        color: $link-hover;
    }
}

button {
    outline: 0;
}


select {
    outline: 0;
}


p {
    color: $paragraph;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 30px;
    text-decoration: none solid rgb(51, 51, 51);
    word-spacing: 0;
}

small {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: $header;
}


._btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    transition: 0.2s color ease-out, 0.3s background-color ease-out;
    border-radius: 0;
    border-color: $accent;
    color: $accent;
    background-color: transparent;

    &:hover {
        transition: 0.2s color ease-in, 0.3s background-color ease-out;
        color: white;
        background-color: $accent;
    }

    &:focus {
        box-shadow: none;
    }
}

.section-container {
  margin: 0 auto 50px auto;

  @media screen and (max-width: 960px) {
    margin-bottom: 0;
  }
}

.sub-title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  word-spacing: 0;
  margin: 15px auto 80px auto !important;
  text-align: center;
  font-style: italic;
  color: $sub-titles;

  @media screen and (max-width: 960px) {
    margin-bottom: 40px !important;
  }
}


.highlighted {
    transition: background-color .5s ease;
    background-color: $highlight-text-edit;
}


